<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>Rest for phone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Rest for phone is meant as final resting place for your smartphone. Maybe you think it's useless because it is broken... It is not! Second-hand and old phones can foster research in robotics!">
    <meta name="author" content="Anne van Rossum">

    <!-- Style from DO bots -->
    <link href="../assets/css/dobots.css" rel="stylesheet">
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 10px;
        padding-bottom: 60px;
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Social media icons -->
    <link rel="stylesheet" href="../assets/css/elusive-webfont.css">
    <!--[if lt IE 7]>
      <link rel="stylesheet" href="../assets/css/elusive-webfont-ie7.css">
    <![endif]-->

    <!-- Enable/disable submit button -->
    <link rel="stylesheet" href="../assets/css/input-help.css">

    <link rel="shortcut icon" href="ico/favicon.ico">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="http://www.rest4phone.com">Rest for phone</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="index.html">Home</a></li>
              <li><a href="details.html">Details</a></li>
              <li><a href="team.html">Team</a></li>
              <li class="active"><a href="contact.html">Submit your idea</a></li>
            </ul>
            <ul class="nav pull-right">
              <li><a class="btn" href="http://www.linkedin.com/company/do-distributed-organisms-/"><i class="icon-linkedin"></i></a></li>
              <li><a class="btn" href="http://www.youtube.com/distributedorganisms"><i class="icon-youtube"></i></a></li>
              <li><a class="btn" href="http://www.flickr.com/photos/dobots/"><i class="icon-flickr"></i></a></li>
              <li><a class="btn" href="http://almende.github.io/nets/"><i class="icon-github"></i></a></li>
              <li><a class="btn" href="http://www.dobots.nl"><i class="icon-home"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

       <div class="hero-unit">
          <h1>Submit your idea!</h1>
          </br>
          <p>We will be collecting also your ideas on the innovative use of older smartphones. <b>When there are lots of ideas, we will redesign this website!</b> You will be able to have your project described on it. Instead of only having our address on it, we will add your address and a short description of your intentions what to do with the phone. Describe your project in a convincing way, specify what kind of damages are acceptable, and be ready for actually receiving many smartphones! Come up with wild ideas, from using them as sensors in weather balloons, to donate them to charity projects. Then, everybody who visits this page, can look for projects that are most in line with their ideals. And get rid their old (smart)phones in an environmentally friendly manner. No idea is too weird! </p>  
      </div><!--end hero unit -->

      <p>Everybody I know actually considers these webforms annoying, so feel absolutely free to send an email to: <script type="text/javascript">/*<![CDATA[*/var a=new Array(".nl","s","bot","do","@","ne","an");document.write("<a href='mailto:");for(i=a.length-1;i>=0;i--){document.write(a[i])}document.write("'>");for(i=a.length-1;i>=0;i--){document.write(a[i])}document.write("</a>");/*]]>*/</script>.</p>

      <br/>

      <div class="row">

        <section class="span6">

          <form ng-submit="submit()" ng-controller="EmailCtrl">
            <div class="control-group">
              <label class="control-label" for="inputEmail"><i class="icon-user"></i> Full Name</label>
              <div class="controls controls-row">
                <input type="text" class="input-xxlarge" id="inputName" placeholder="You" ng-model="contact.name" required>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputEmail"><i class="icon-envelope"></i> Email</label>
              <div class="controls">
                <input type="email" class="input-xxlarge" id="inputEmail" placeholder="you@yourdomain.com" ng-model="contact.email" required>
             </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputEmail"><i class="icon-question-sign"></i> Subject</label>
              <div class="controls">
                <input type="text" class="input-xxlarge" id="inputSubject" placeholder="Your brilliant idea as a one-liner" ng-model="contact.subject" required>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputMessageBody"><i class="icon-pencil"></i> Message</label>
              <div class="controls">
                <textarea rows="6" class="input-xxlarge" id="inputMessageBody" placeholder="So, what's it about?" ng-model="contact.message_body" required></textarea>
              </div>
            </div>

            <div class="control-group">
	             <div class="controls">
                  <button type="submit" class="btn btn-primary btn-large"><i class="icon-white icon-envelope"></i> Send Message</button>
                  <button class="btn btn-primary btn-large" disabled><i class="icon-white icon-envelope"></i> Send Message</button> 
               </div>
            </div>
            <span ng-show="send">
              <div class="alert alert-success">
                Thanks! You will definitely hear from us!
              </div>
            </span>
            <span ng-show="failure">
              <div class="alert alert-error">
                Sorry, something went wrong in the backend, please send an email! Our sincere apologies!
              </div>
            </span>
        </form>


        <br class="clear">
        </section><!-- end left side-->

        <section class="span6">
          <div class="well">
             <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Westerstraat+50,+Rotterdam,+The%20Netherlands&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=59.467068,130.078125&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Westerstraat+50,+3016+DJ+Centrum,+Rotterdam&amp;z=9&amp;iwloc=A&amp;output=embed"></iframe>
          </div><!--end well -->
        </section><!--end right --> 

      </div><!--end row -->

      <hr>

      <footer>
        <p>&copy; Distributed Organisms B.V. 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery-1.7.2.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/angular.min.js"></script>
    <script src="../assets/js/contact.js"></script>

  </body>
</html>

